numpy
scipy
librosa
wave
appdirs
audioread
Cython
decorator
joblib
packaging
pyparsing
resampy
scikit-learn
six
imutils
sounddevice
soundfile
pysndfx
python-speech-features
screeninfo
pyqt5